#centrador{
  position: relative;
  width: 400px;
  height: 400px;
  background-color: black;
}

#imagen{
    position: absolute;
    width: 5000px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}